<div class="content-main banner_edit">
    <div class="form col-md-6">
            <p class="header">
                <?php 
                    $segment = $this->uri->segment(4, 'null');
                    $product_id = $segment == 'null' ? '新增banner' : '编辑banner';
                    echo $product_id;
                ?>
            </p>
            <form role="form" autocomplete="off">
                <input type="hidden" name='bid' value="<?php echo $this->uri->segment(4); ?>">
                <input type="hidden" name='serial' value="<?php if($segment == 'null'){echo rtime();}else{echo $banner['serial'];} ?>">
                <div class="form-group ">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="请输入文章标题,长度不超过20字" value="<?php if($segment != 'null')echo $banner['title'] ?>"  />
                </div>
                <div class="form-group ">
                    <label for="title">链接地址</label>
                    <input type="text" class="form-control" name="url" id="url" placeholder="请输入链接地址,长度不超过255字" value="<?php if($segment != 'null')echo $banner['url'] ?>"  />
                </div>
                <div class="form-group ">
                    <label for="title">封面</label>
                    <input type="file" id="thumb" name="thumb" >
                </div>
                <!-- <div class="form-group">
                    <label for="content">文章内容</label>
                    <textarea name="content" id="content" style="height: 200px;"><?php if($segment != 'null')echo $banner['content'] ?></textarea>
                </div> -->
                <a class="btn btn-primary submit">发布</a>
                <!-- <input class="btn btn-primary" type="submit" value="发布文章"> -->
            </form>
    </div>
    <div class="col-md-6 thumb" >
        <img class="thumb_img" src="<?php if($segment != 'null')echo base_url().'public/upload/'.$banner['thumb']; ?>" alt="">
    </div>
</div>
<!-- <script type="text/javascript" src="<?php echo base_url().'public/common/ueditor/ueditor.config.js' ?>"></script> -->
<!-- <script type="text/javascript" src="<?php echo base_url().'public/common/ueditor/ueditor.all.min.js' ?>"></script> -->
<link rel="stylesheet" href="<?php echo base_url().'public/common/wangEditor/dist/css/wangEditor.min.css' ?>">
<script type="text/javascript" src="<?php echo base_url().'public/common/wangEditor/dist/js/wangEditor.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo base_url().'public/common/ajaxfileupload/ajaxfileupload.js' ?>"></script>
<script type="text/javascript">
$(function() {

    
    $('input[type=file]').on('change', function(){
        loadFileImage($(this));
    })
    $('.submit').click(function() {
        var form = $('form').get(0);
        var data = {
            'bid': form.bid.value, //区分发布与编辑
            'title': form.title.value.trim(),
            'url': form.url.value.trim(),
            'thumb': form.thumb.files[0],
            // 'content': form.content.value.trim()
        };
        if (data.title.length == 0) {
            alert('标题不能为空');
            return false;
        }
        if (data.title.length > 20) {
            alert('标题长度不能超过20字');
            return false;
        }
        if (data.url.length == 0) {
            alert('链接不能为空');
            return false;
        }
        if (/^(http|https)+(.)*/.test(data.url) == false) {
            alert('请输入正确的网址');
            return false;
        }
        /*if (data.content.length == 0) {
            alert('内容不能为空');
            return false;
        }*/
        if(data.bid.length == 0 && !data.thumb){
            alert('请上传封面图片')
            return false;
        }
        $('form').ajaxSubmit({
            url: "<?php echo site_url('admin/banner/send')?>",
            type: 'POST',
            success: function(res) {
                console.log(res)
                if (res != 0) {
                    alert('发布成功');
                    location.href = "/admin/banner";
                } else {
                    alert('发布失败，请重试');
                }
            },
            error: function(error){
                alert('上传出错，请联系管理员');
            }
        })
    })
})
</script>
