<!-- 公用头部 -->
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>家徽纹章后台管理</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'public/common/bootstrap/dist/css/bootstrap.min.css' ?>" />
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'public/dist/admin/css/index.min.css' ?>" />
</head>


