<!-- 公用头部 -->
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>上海杰汉申若丝琳装饰有限公司官方网站</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'public/common/normalize/normalize.css' ?>" />
	<link rel="stylesheet" href="<?php echo base_url().'public/common/FlexSlider-master/flexslider.css' ?>">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'public/dist/wap/css/index.min.css?111125' ?>" />
</head>
<script type="text/javascript">
    var ua = navigator.userAgent.toString();
    function isMobile() {
        return /phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile/i.test(ua)
    }
    if(!isMobile()){
        location.href="<?php echo site_url('index/'); ?>"
        // console.log("<?php echo site_url('mobile/home'); ?>");
    }
</script>
<div class="common-header">
    <a href="/wap/home/index" class="logoname">
        <img src="<?php echo base_url().'public/dist/wap/images/nav-logoname.jpg' ?>" alt="">
    </a>
</div>
<div class="placeholder"></div>



