<div class="navbar">
	<!-- <p class="title"><?php echo $path ?></p> -->
	<!-- <div class="menu"></div> -->
	
</div>
<!-- <ul class="navbar-list">
	<li><a href="<?php echo site_url('wap') ?>">首页</a></li>
	<li><a href="<?php echo site_url('wap/nl') ?>">杰汉申动态</a></li>
	<li><a href="<?php echo site_url('wap/po') ?>">外资项目</a></li>
	<li><a href="<?php echo site_url('wap/pi') ?>">内资项目</a></li>
	<li><a href="<?php echo site_url('wap/pr') ?>">住宅项目</a></li>
	<li><a href="<?php echo site_url('wap/tl') ?>">追梦团队</a></li>
</ul> -->
<div class="navbar-space"></div>
