<?php  
	$this->load->view('wap/header.html');
?>
<div class="wap-menu">
	<a href="/wap/po" class="menu outside">
		<img src="<?php echo base_url().'public/dist/wap/images/menu-po.jpg' ?>" alt="">
	</a>
	<a href="/wap/pi" class="menu inside">
		<img src="<?php echo base_url().'public/dist/wap/images/menu-pi.jpg' ?>" alt="">
	</a>
	<a href="/wap/pr" class="menu team">
		<img src="<?php echo base_url().'public/dist/wap/images/menu-pz.jpg' ?>" alt="">
	</a>
</div>
<?php  
	$this->load->view('wap/footer.html');
?>