
<div class="index-banner" id="index-banner">
	<div class="flexslider">
		<ul class="slides">
			<!-- <li><a href=""><img src="<?php echo base_url().'public/dist/index/images/banner1.png' ?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo base_url().'public/dist/index/images/banner1.png' ?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo base_url().'public/dist/index/images/banner1.png' ?>" alt=""></a></li> -->
			<?php  foreach($banner as $v): ?>
				<li><a href="<?php echo $v['url'] ?>" style="background-image: url('<?php echo base_url().'public/upload/'.$v['thumb'] ?>')"></a></li>
			<?php endforeach; ?>
		</ul>
	</div>
</div>