<div class="other-navbar">
	<div class="nav-space"></div>
	<div class="nav-content">
		<div class="mainnav navbar-left">
			<a href="<?php echo site_url('index/home') ?>" class="nav-item active">
				<div class="a-content index active ">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
			<a href="<?php echo site_url('index/home#index-about') ?>" class="nav-item">
				<div class="a-content about">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
			<a href="<?php echo site_url('index/home#index-news') ?>" class="nav-item">
				<div class="a-content news">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
			<a href="<?php echo site_url('index/home#index-flow') ?>" class="nav-item">
				<div class="a-content flow">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
		</div>
		<div class="mainnav navbar-right">
			<a href="<?php echo site_url('index/home#index-story') ?>" class="nav-item">
				<div class="a-content story">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
			<a href="<?php echo site_url('index/home#index-product') ?>" class="nav-item">
				<div class="a-content product">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
			<a href="<?php echo site_url('index/home#index-team') ?>" class="nav-item">
				<div class="a-content team">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
			<a href="<?php echo site_url('index/home#index-contact') ?>" class="nav-item">
				<div class="a-content contact">
					<div class="top"></div>
					<div class="bot"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="body-space"></div>
