<a href="" class="item item1">
			<div class="back" style="background-image:url('<?php echo base_url().'/public/dist/index/images/test.png'; ?>') ">
			</div>
			<div class="cover">
				<p class="en">Seal</p>
				<p class="cn">火漆印</p>
			</div>
		</a>
<a href="" class="item item2">
			<div class="back" style="background-image:url('<?php echo base_url().'/public/dist/index/images/test.png'; ?>') ">
				
			</div>
			<div class="cover">
				<p class="en">Porcelain Painting</p>
				<p class="cn">瓷板画</p>
			</div>
		</a>
<a href="" class="item item3">
			<div class="back" style="background-image:url('<?php echo base_url().'/public/dist/index/images/test.png'; ?>') ">
				
			</div>
			<div class="cover">
				<p class="en">Cufflinks</p>
				<p class="cn">袖口</p>
			</div>
		</a>
<a href="" class="item item4">
			<div class="back" style="background-image:url('<?php echo base_url().'/public/dist/index/images/test.png'; ?>') ">
				
			</div>
			<div class="cover">
				<p class="en">Porcelain</p>
				<p class="cn">西式骨瓷</p>
			</div>
		</a>
<a href="" class="item item5">
			<div class="back" style="background-image:url('<?php echo base_url().'/public/dist/index/images/test.png'; ?>') ">
				
			</div>
			<div class="cover">
				<p class="en">Metallic Heraldry</p>
				<p class="cn">金属家徽</p>
			</div>
		</a>
<a href="" class="item item6">
			<div class="back" style="background-image:url('<?php echo base_url().'/public/dist/index/images/test.png'; ?>') ">
				
			</div>
			<div class="cover">
				<p class="en">Flag</p>
				<p class="cn">旗帜</p>
			</div>
		</a>
