<?php
	$this->load->view('index/header.html');
	$this->load->view('index/other_nav.html');
?>
<?php  if($team_prev):  ?>
	<a href="<?php echo $team_prev[0]['serial']; ?>" class="page-fixed-next"></a>
<?php endif; ?>
<?php  if($team_next):  ?>
	<a href="<?php echo $team_next[0]['serial']; ?>" class="page-fixed-prev"></a>
<?php endif; ?>
<div class="team-detail">
	<div class="detail-path">
		您的位置：<a href="<?php echo site_url('index/home'); ?>">首页</a> > <a href="<?php echo site_url('index/tl') ?>">追梦团队</a> > <?php echo $team['title'] ?>
	</div>
	<div class="detail-content">
		<?php echo $team['content'] ?>
	</div>
	<div class="detail-recommand">
		<div class="header">
			<img src="<?php echo $image_path.'story-recommand-title.png'; ?>" alt="" class="titl">
		</div>
		<ul class="recommand-list">
			<?php  foreach($recommand as $k => $v): ?>
				<li>
					<a href="<?php echo site_url('index/td/').$v['serial'] ?>" class="item">
						<div class="back" style="background-image:url('<?php echo base_url().'public/upload/'.$v['thumb']; ?>') ">
							
						</div>
						<div class="cover">
							<p class="title"><?php echo $v['title']?></p>
							<p class="date"><?php echo preg_replace("/-/",'/',substr($v['time'],0,10)) ?></p>
						</div>
					</a>
				</li>
			<?php endforeach; ?>
		</ul>
	</div>
</div>
<?php  
	$this->load->view('index/footer.html');
?>