<div class="navbar">
	<p class="title"><?php echo $path ?></p>
	<div class="menu"></div>
	<div class="index-logoname"></div>

</div>
<ul class="navbar-list">
	<li><a href="<?php echo site_url('wap') ?>">首页</a></li>
	<li><a href="<?php echo site_url('wap/nl') ?>">纹章院动态</a></li>
	<li><a href="<?php echo site_url('wap/sl') ?>">家徽故事</a></li>
	<li><a href="<?php echo site_url('wap/pn') ?>">基础定制产品</a></li>
	<li><a href="<?php echo site_url('wap/ph') ?>">高级定制产品</a></li>
	<li><a href="<?php echo site_url('wap/home/flow') ?>">申请流程</a></li>
	<li><a href="<?php echo site_url('wap/tl') ?>">追梦团队</a></li>
</ul>
<div class="navbar-space"></div>
